{% extends 'base.html.twig' %}
{% block body %}
    {% for parcourpat in parcoursPats %}
        <div>
    {{ parcourpat.name }}
    {{ parcourpat.postal }}
        {{ parcourpat.price }}
        </div>


    {% endfor %}
    <br />
    {% for parcourrest in parcoursRests %}
        <div>
     {{ parcourrest.name }}
    {{ parcourrest.postal }}
    {{ parcourrest.price }}
        </div>
    {% endfor %}
{% endblock %}